<!-- <app-dynamic-form-json
  [gridSize]="grid"
  [fields]="fields"
></app-dynamic-form-json>
 -->

<!-- <app-modal modalTitle="First Content" color="light">
  <p>First Content</p>
</app-modal>

<hr />

<app-modal modalTitle="Second Content" color="continue">
  <div class="col-lg-4">
    <img src="https://via.placeholder.com/282" class="img-radius" />
    <h2>Heading</h2>
    <p>
      Some representative placeholder content for the three columns of text
      below the carousel. This is the first column.
    </p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div>
</app-modal>

<div>
  <label>{{ "firstName" | labelPipe }}</label>
  <input type="text" />
</div> -->
<!-- <app-button (buttonClicked)="buttonTriggered($event)" [bgButtonColor]="'back'">Back</app-button>
<hr />
<app-button (buttonClicked)="buttonTriggered($event)" [bgButtonColor]="'continue'">Continue</app-button>
<hr />
<app-button (buttonClicked)="buttonTriggered($event)" [bgButtonColor]="'normal'">Yes</app-button>
<hr />
<app-button (buttonClicked)="buttonTriggered($event)" [bgButtonColor]="'normal'">No</app-button> -->

customer component
